<%= form_for author do |f| %>
  <%= render :partial => "shared/error_messages", :locals => { :model => author } %>

  <div>
    <%= f.label :name %> <br/>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "Save"%>
<% end%>
